@model List<TrainMeNowMVC.Models.UserViewModel>
@{
    ViewBag.Title = "ListTrainees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Trainees</h2>

<table class="table table-hover">
    <tr>
        <th width="25%">Username</th>
        <th width="25%">First Name  </th>
        <th width="25%">Last Name   </th>
        <th width="25%">Email   </th>
    </tr>
    @foreach (var trainer in Model)
    {
        <tr>
            <td>@trainer.Username</td>
            <td>@trainer.FirstName</td>
            <td>@trainer.LastName</td>
            <td>@trainer.Email</td>
        </tr>
    }
</table>

@*<div class="trainees-list"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript">
        $.get("/Trainer/GetListTraineesData",
            function (data) {
                var i;
                var list = '';
                for (i = 0; i < data.length; i++) {
                    list += '<h2>' + data[i].Username + ', ' + data[i].FirstName + ',' + data[i].LastName + ','
                                   + data[i].Email + '</h2>';
                }
                $('.trainees-list').html(list);
            });
    </script>*@