
@{
    ViewBag.Title = "ListTrainees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Trainees</h2>

<div class="trainees-list"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript">
    $.get("/Trainer/GetListTraineesData",
        function (data) {
            var i;
            var list = '';
            for (i = 0; i < data.length; i++)
            {
                list += '<h2>' + data[i].Username + ', ' + data[i].FirstName + ',' + data[i].LastName + ','
                               + data[i].Email + '</h2>';
            }
            $('.trainees-list').html(list);
        });
</script>
