@model List<TrainMeNowMVC.Models.TrainingViewModel>
@{
    ViewBag.Title = "Display";
}

<h2>Available trainings</h2>
@foreach (var training in Model)
{
    <div class="well">
       
        <h2>Training Name: @training.Name</h2> 

       
    </div>
}
