@model TrainMeNowMVC.Models.TrainingViewModel
@{
    ViewBag.Title = "EditTraining";
}

<h2>Edit</h2>

@using (Html.BeginForm("EditTrainingData", "Trainings", FormMethod.Get))
{
    @Html.HiddenFor(m => m.Id)
    <label>Price:</label>
    @Html.TextBoxFor(m => m.Price)

    <label>MaxUsers: </label>
    @Html.TextBoxFor(m => m.MaxUsers)

    <button class="btn btn-success" type="submit">Submit</button>
}


