@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    51 Al. Vaida Voevod St.<br />
    Cluj-Napoca <br />
    400436, Romania<br />
    <abbr title="Phone">P:</abbr>
    +40 372 363 282<br />
    <abbr title="Email">E:</abbr>
    info.cluj@endava.com
</address>

<address>
    <strong>Developers:</strong> <br />
    <a href="mailto:Andrei.Rotar@endava.com">Andrei.Rotar@endava.com</a><br />
    <a href="mailto:Daniel.Carp@endava.com">Daniel.Carp@endava.com</a><br />
    <a href="mailto:Raul.Merlan@endava.com">Raul.Merlan@endava.com</a><br />
    <a href="mailto:Raluca.Dirjan@endava.com">Raluca.Dirjan@endava.com</a><br />
    <a href="mailto:Dariu.Deszi@endava.com">Dariu.Deszi@endava.com</a><br />
    <a href="mailto:Bogdan.Chetan@endava.com">Bogdan.Chetan@endava.com</a><br />
</address>