@model TrainMeNowMVC.Models.UserViewModel
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditAccount</h2>
@using (Html.BeginForm("EditAccount", "Account", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>First Name: </td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBoxFor(m => m.LastName)</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>@Html.TextBoxFor(m => m.Password)</td>
        </tr>

    </table>
        <button type="submit" class="btn btn-primary">Edit</button>
}