@model TrainMeNowMVC.Models.UserViewModel
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditAccount</h2>
@using (Html.BeginForm("EditAccount", "Account", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>First Name: </td>
            <td>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </td>

        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Edit</button>
}