@model TrainMeNowMVC.Models.UserViewModel
@{
    ViewBag.Title = "Login";

}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td>Username:</td>  
            <td><input type="text" class="form-control" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input class="form-control" type="password" name="password" /></td>
            
        </tr>
       
    </table>
    @Html.ValidationSummary(true, "Login was unsuccessful. The username or password is incorrect.", new { @style = "color: red" })
        <input type="submit" value="Log in " onclick="Login"  class="btn btn-primary"/>
    
}

