@model TrainMeNowMVC.Models.UserViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <form>
        <p>
        Username: <input type="text" name="username" />
        </p>
            <br />
        <p>
        Password: <input type="password" name="password"/>
        </p>  
            <br/>
        <p>
        <input type="submit" value="Log in " onclick="Login"  />
            </p>
    </form>
}

